body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: white;
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#main {
    flex-grow: 1;
}

.cursor-pointer {
    cursor: pointer;
}

#command {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    border: 1px solid black;
    bottom: 0;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
}

.hide {
    display: none;
}

.user-select-none {
    user-select: none
}